# Ignore Python cache files
__pycache__/
*.pyc

# Environment variables and virtual environments
.env
.venv/
.pytest_cache/

# Ignore vscode files
.vscode/
.idea/

*.build/

*.log
certifications/

# Ignore local API configuration
mobile/TrainingPlan/Resources/APIConfig.plist
