# Ignore sensitive files
backend/src/utils/SQLutils/config.py

# Ignore Python cache files
__pycache__/
*.pyc
.pytest_cache/

# Ignore vscode files
.vscode/
.idea/

*.build/

*.log
cert.pem
key.pem

# Ignore local API configuration
mobile/TrainingPlan/Resources/APIConfig.plist
